* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font style  */
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* flex property */
.flex {
  display: flex;
}
/* grid property */
.grid {
  display: grid;
}
/* display hide  */
.hide {
  display: none;
}

/* primary button  */
.btn-primary {
  background-color: #fea301;
  color: #ffffff;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px;
  width: 150px;
}
/* color name  */
.bg-black {
  background-color: #111111;
}

.orange {
  color: #fea301;
}
.bg-orange {
  background-color: #fea301;
}
.sky-blue {
  color: #01acfd;
}
.bg-sky-blue {
  background-color: #01acfd;
}
.bright-Cyan {
  color: #05d4df;
}
.bg-bright-Cyan {
  background-color: #05d4df;
}
.bright-indigo {
  color: #5d58ef;
}
.bg-bright-indigo {
  background-color: #5d58ef;
}
.electric-purple {
  color: #8700ff;
}
.bg-electric-purple {
  background-color: #8700ff;
}
/* li a tag style none  */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.btn-primary:hover {
  background-color: #5d58ef;
}

/* body margin wrapper  */
.container {
  padding: 60px 0px;
  margin: 0 auto;
  width: 80%;
}
body {
  background: linear-gradient(
    to top,
    rgba(254, 163, 1, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* mobile-menu */
.menu-bar {
  display: none;
}
.menu-wrapper {
  max-width: 100%;
  max-height: 50px;
  padding: 50px 16px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid orange;
}
.menu-bar i {
  font-size: 35px;
  cursor: pointer;
}

/* navigation section  */
.header-section {
  justify-content: space-between;
  align-items: center;
}
.logo {
  justify-content: center;
  align-items: center;
}
.logo-scl {
  padding-left: 11px;
  font-weight: bold;
  font-size: 2rem;
}
.nav-list {
  justify-content: space-between;
  align-items: center;
}
.list-head {
  font-weight: bold;
}
.nav-list a {
  padding: 0 25px;
  font-weight: 1.25rem;
  font-weight: 500;
}
/* hero section  */
.hero-section {
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 24px;
}
.hero-pera {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 34px;
}
.left-container {
  max-width: 50%;
}
.right-container {
  max-width: 50%;
}

/* curriculum-section  */
.curriculum-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.curriculum-section {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
}
.block-wrapper {
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 28px;
  margin-top: 80px;
}
.curriculum-block {
  padding: 58px 40px;
  border: 1px solid transparent;
  border-radius: 19px;
  text-align: center;
  background: linear-gradient(to bottom, #def5ff 0%, #ffffff 40%);
  box-shadow: 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
}
.curi-1 {
  background: linear-gradient(to bottom, rgb(255, 229, 173) 0%, #ffffff 40%);
}
.curi-2 {
  background: linear-gradient(to bottom, #e7d4ff 0%, #ffffff 40%);
}
.kinder-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 33px;
}
.kinder-pare {
  font-weight: 400;
  font-size: 1rem;
  color: #808080;
  margin-bottom: 33px;
}
.kinder-btn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: none;
}

/* angle icon  */
.angle-icon {
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}
.angle {
  background-color: #fea301;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  padding: 13px;
  cursor: pointer;
  margin: 0px 10px;
}

/* storeis section  */
.stories-wrapper {
  justify-content: space-between;
  gap: 19px;
  margin-top: 80px;
}
.stories-left {
  position: relative;
  border: 1px solid transparent;
  background-color: #ffffff;
  border-radius: 16px;
}
.stories-left img {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border: 1px solid transparent;
}
.date {
  position: absolute;
  left: 34px;
  top: 350px;
  border-radius: 48px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
.stories-title {
  background-color: #ffffff;
  padding: 38px 34px;
  border-radius: 16px;
}
.stories-title h2 {
  padding-bottom: 48px;
}
/* stories right section */
.stories {
  background-image: url("/assets/bg.png");
}
.stories-right {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.stories-block {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
}
.stories-block p {
  padding: 28px 38px;
}
.stories-block img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border: none;
}
.date-block {
  position: absolute;
  top: 150px;
  left: 24px;
  border-radius: 48px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
.date-block-2 {
  position: absolute;
  top: 160px;
  left: 24px;
  border-radius: 48px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}
.d-block-none {
  display: none;
}

.view-btn {
  display: block;
  margin: 80px auto 60px auto;
}
/* footer section */

footer {
  max-width: 1000%;
  padding: 120px 140px 170px 140px;
  background-color: #01acfd;
}
.footer-wrapper {
  justify-content: space-between;
}
.footer-logo{
  width: 400px;
}
.f-img-title {
  align-items: center;
  gap: 10px;
}
.f-img-title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.footer-logo p{
  margin-top: 32px;
}
.footer-logo p {
  color: #eaeaea;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.abt-scl {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 32px;
}
.footer-items > li {
  padding-bottom: 20px;
}
.footer-items > li > a {
  color: #eaeaea;
}
